<script type="text/javascript">
  (function($) {
      $.fn.extend( {
          limiter: function(limit, elem) {
              $(this).on("keyup focus", function() {
                  setCount(this, elem);
              });
              function setCount(src, elem) {
                  var chars = src.value.length;
                  if (chars > limit) {
                      src.value = src.value.substr(0, limit);
                      chars = limit;
                  }
                  elem.html( limit - chars );
              }
              setCount($(this)[0], elem);
          }
      });
  })(jQuery);
  var elem1 = $("#title-chars");
  $("#ad_ad_title").limiter(100, elem1);
  var elem2 = $("#content-chars");
  $("#ad_ad_content").limiter(2000, elem2);
</script>

<% title "EileensNotes | Advertisement" %>

<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
     <div data-alert class="alert-box radius alert">
      <h3><%= pluralize(@ad.errors.count, "error") %> => Oops! Check your input again:</h3>
      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <b>Title of your Advertisement (Please be specific on title)</b>

  <label><span id="title-chars"></span> left</label>
  <%= f.text_area :ad_title %>

  <span class="label success">FORMATTING</span>
  <p>We are supporting Markdown, a lightweight markup language, in this AD box.<br/> 
      Use these syntax examples below. <%= link_to '(View formatting help)', markdown_index_path, :target => "_blank" %>
    <br/><br/>
    _Italic_    *Italic*<br/>
      __Bold__     **Bold**<br/>
    (use \ in front of * or _ to display it as is)<br/>
      1. List Item<br/>
  </p>

  <b>What are you advertising? Post content of your Advertisement (~2,000 chars)</b>

  <label><span id="content-chars"></span> left</label>
  <%= f.text_area :ad_content, :rows => "10" %>

    Please use the right tags (keywords) to make your question easily searchable. 
    <%= link_to 'See current tags', clouds_index_path, :target => "_blank" %>

    <br/>
    <b>Enter keyword(s) to categorize your question (use , to separate each keyword. ~40 chars)</b>
    <%= f.text_field :tag_list %>

    <%= f.submit 'Post', :class => "button tiny radius" %>

<% end %>
