<% title "EileensNotes | Advertisements" %>

<%= render 'layouts/pages/top_header' %>

<%= form_tag ads_path, :method => :get do %>
	<div class="large-8 small-9 columns">
    	<%= text_field_tag :search, params[:search], :placeholder => "Search Advertisements" %>
  </div>
  <div class="large-4 small-3 columns">
      <%= submit_tag "Search", :name => nil, :class => "alert tiny button" %>
  </div>
<% end %>

<div id="tag_cloud">
  <% tag_cloud Ad.tag_counts.limit(10), %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name + ' (' + tag.count.to_s + ')', get_tagged_ads_path(tag.name), class: css_class %>
  <% end %>
  <br/>
  <%= link_to 'more tags >>', clouds_index_path, :target => "_blank", :class => "label secondary radius" %>
  <%= link_to 'post your ad >>', new_ad_path, :class=> "label secondary radius" %>
</div>
<hr/>

<% if @ads.empty? %>
  <%= render 'layouts/pages/nodata' %>
<% else %>
  <%= render :partial => @ads %>
  <%= will_paginate @ads, :page_links => true, :container => false %> 
<% end %>

<%= render 'layouts/pages/wide_ad_bar' %>

<br />